
  @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100dvh;
}

hr {
  margin: 0 !important;
  padding: 0 !important;
}

.captcha {
  font-family: 'Special Elite', cursive !important;
  font-size: 28px;
}

.is-gap-0 {
gap: 4px;
}
.is-gap-1 {
  gap: 8px;
}
.is-gap-2 {
  gap: 16px;
}
.is-gap-3 {
  gap: 24px;
}


.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border-top: 2px solid #07d;
  border-right: 2px solid transparent;
  animation: spin .6s linear infinite;
}

@keyframes spin {
  to {transform: rotate(360deg);}
}


.spinner-text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.border {
  border: 1px solid red !important;
}

.m-0 {
  margin: 0 !important;
}

/* icons */
.icon-1 {
  font-size: 1em !important;
}

.icon-2 {
  font-size: 1.33em !important;
}

.icon-3 {
  font-size: 2em !important;
}

.avatar {
  border: 1px solid white;
  display: inline-block;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.avatar:nth-child(n+2) { margin-left: -10px; }

.avatars:hover avatar:nth-child(n+2) {
   margin-left: 2px;
}


/* sidebar syles */
.sidebar {
  /* width: 240px !important; */
  min-width: 250px !important;
  overflow: auto;
  min-height: 95dvh;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/* sidebar hidden */
@media screen and (max-width: 1024px) {
  .sidebar {
    display: none;
  }
}

.sidebar-show {
  display: block;
  position: absolute;
  z-index: 999;
  background-color: white;
}

.ellipsis {
  /* text-overflow: ellipsis;
  /* Required for text-overflow to do anything
  overflow: hidden;  */
  
  display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ellipsis-single {
  text-overflow: ellipsis;
    overflow: hidden;
}

.ellipsis-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
  overflow: hidden; 
}

.edit-comment {
  border: "1px solid hsl(0, 0%, 71%)" !important;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
